
section {
	display: flex;
	flex-direction: row;
	padding: 110px 40px 30px 40px;
}

@media (max-width: 1000px) {
	section {
		padding: 100px 50px 30px 50px;
	}
}
@media (max-width: 600px) {
	section {
		padding: 80px 10px 35px 10px;
	}
}
.profile-info{
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #fca311;
}
.profile-info .profile-picture {
	width: 200px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
}
.profile-info .profile-picture img {
	width: 100%;
}

.profile-info .info-text {
    display: flex;
    flex-direction: column;
}

.profile-info .info-text p {
    font-family: Inter;
    margin-bottom: 10px;
    font-size: 18px;
    color: #14213d;
}

.profile-info .info-text h2 {
    font-family: Inter;
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
}

@media (max-width: 700px){
	.profile-info {
		width: 100%;
		display: flex;
		flex-direction: column;
		background-color: #fca311;
		padding-bottom: 0px;
		align-items: center;
	}

    .profile-info .profile-picture {
        padding-right: 0px;
    }

    .profile-info .info-text {
        align-items: flex-start;
        width: 100%;
        padding-left: 20px;
    }
}


.box{
	padding-top: 0px;
	padding-bottom: 50px;
	width: 100%;
	position: relative;
	background-color: #fca311;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media (max-width: 455px){
	.box{
		align-content: center;
		display: flex;
		flex-direction: column;
	}
}

.box .btn-see-projects {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.box .btn-see-projects .boxBtn {
    padding: 15px 15px;
	margin-right: 20px;
    background: #14213d;
    font-family: Inter;
    font-weight: bold;
}

.box .btn-see-projects .boxBtn a {
    color: #fff;
    font-size: 20px;
    font-style: bold;
}
@media (max-width: 1000px){

	.box .btn-see-projects {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: normal;
	}
	
	.box .btn-see-projects .boxBtn {
		margin-right: 20px;
		margin-top: 20px;
		padding: 10px 15px;
		background: #14213d;
		font-family: Inter;
		font-weight: bold;
	}
	
	.box .btn-see-projects .boxBtn a {
		color: #fff;
		font-size: 16px;
		font-style: bold;
	}
}
@media (max-width: 455px){
	.box .btn-see-projects {
		align-items: center;
		flex-direction: column;
	}
	.box .btn-see-projects .boxBtn {
        margin-right: 0px;
	}
}

.box .btn-edit-profile {
    display: flex;
    flex-direction: row;
}

.box .btn-edit-profile .boxBtn {
    padding: 15px 15px;
    background: #14213d;
    font-family: Inter;
    font-weight: bold;
}

.box .btn-edit-profile .boxBtn a {
    color: #fff;
    font-size: 20px;
    font-style: bold;
}
@media (max-width: 1000px){
	.box .btn-edit-profile {
		display: flex;
		flex-direction: row;
		margin-top: 20px;
	}
	
	.box .btn-edit-profile .boxBtn {
		padding: 10px 15px;
		background: #14213d;
		font-family: Inter;
		font-weight: bold;
	}
	
	.box .btn-edit-profile .boxBtn a {
		color: #fff;
		font-size: 16px;
		font-style: bold;
	}
}
@media (max-width: 455px){
.box .btn-edit-profile {
	align-items: center;
	flex-direction: column;
}
}
.review{
	padding-top:30px;
	background-color: #fff;
	width:100%;
	display:flex;
	flex-direction: column;
	text-align: justify;
	h2{
		padding-bottom: 20px; 
		font-family: Inter;
		font-size: 25px;
		color:#14213d
	}
	h3{
		padding-top:10px;
		padding-bottom: 5px; 
		font-family: Inter;
		font-size: 16px;
		color:#fca311;
	}
	p{
		padding-bottom: 5px;
		color: #14213d;
	}
}