* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Inter;
}
a {
	text-decoration: none;
	color: White;
	cursor: pointer;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	align-items: center;
	color: #fff;
    background-color: #14213d;
}

.nav-left {
    display: flex;
    padding-left: 20px;
}

.nav-left .logo-pic {
    display: flex;
}

.nav-left .logo-pic .logo {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.nav-btn-left{
	display:flex;	
	align-items: center;
	padding:20px;
	font-weight: bold;
	border-right: 3px solid #fca311 ;
}

.nav-right .nav-btn-left:hover{
	background-color: #fca311;
}

.nav-right {
	display:flex;
	padding-right: 20px;
	justify-content: space-between;
	width: 100%;
}

.nav-btn-right{
	display:flex;
    align-items: center;
    padding:10px;
    font-weight: bold;
	background-color: #e5e5e5;
	color: #14213d;
	margin-right: 10px;
}

.options-nav-bar{
	display:flex;
	flex-direction: row;
}
.profile-btn-wrapper{
	display:flex;
	align-items: center;
}

input[type="checkbox"] {
	display: none;
}
input[type="checkbox"]:checked ~ .menu {
	display: block;
}
.menu-btn-right{
	display:flex;
	align-items: center;
}

.menu-btn-right label{
	display:flex;
    align-items: center;
    padding:10px;
    font-weight: bold;
	background-color: #e5e5e5;
	color: #14213d;
	margin-right: 10px;
	cursor:pointer;
}

.menu {
	display: none;
	position: absolute; 
	top: 100%;
	background-color: #e5e5e5;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	margin-left:-35px;
	margin-top: -10px; 
	z-index: 11; 
}	
  
.menu button {
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	background-color: transparent;
	text-align: center;
	color: #14213d;
	border-bottom: 3px solid #fca311 ;
	font-family: Inter;
	font-weight: bold;
	cursor:pointer;
}

.menu button:hover {
	background-color: #ddd;
}


.icon{
	display:none;
	color: white;
	margin-right: 10px;
	padding:10px;
}
	
@media screen and (max-width: 600px){
	.nav-right {
		display: none;
	}
	.btn-dissapear{
		display:none;
	}
	.icon {
		display: block;
	}
	.header{
		justify-content: space-between;
	}
	.nav-btn-left{
		border:none;
	}
	.menu-btn-right{
		padding-left:20px;
	}
	.menu{
		margin-left:-10px;
	}

	.nav-right.collapsed {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 60px;
		right: 0;
		background-color: #14213d;
		width: 100%;
		padding: 10px;
	}
	
	.nav-right.collapsed .btn-dissapear {
		display: flex;
	}
	
	.nav-right.collapsed .nav-btn-right {
		display: flex;
	}
	.options-nav-bar{
		flex-direction: column;
	}
}

.container {
	display:flex;
	flex-direction: column;
	padding-top: 100px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #F5F5F5;
}
.container h1 {
	margin-bottom: 20px;
	color: #fca311;
}
@media screen and (max-width: 600px)
{
	.container h1 {
		font-size: 26px;
	}
}
label {
	display: flex;
	margin-bottom: 5px;
	font-weight: bold;
	color:#0f1a3b;
}
input[type="file"] {
	display: none;
}
.upload-label {
	justify-content: center;
	max-width: 35%;
	padding: 20px 20px;
	background-color: #14213d;
	color: #fca311;
	cursor: pointer;
	font-weight: bold;
}
@media screen and (max-width: 1000px)
{
    .upload-label {
		max-width: 50%;
	}
}
@media screen and (max-width: 600px)
{
	.upload-label {
		max-width: 100%;
	}

}
input[type="text"],
textarea,
select {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	resize: none;
}

button[type="submit"] {
	width: 35%;
	padding: 20px 20px;
	background-color: #14213d;
	color: #fca311;
	border: none;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
    margin-top:20px;
}
@media screen and (max-width: 1000px)
{
    button[type="submit"] {
		width: 50%;
	}
}
@media screen and (max-width: 600px)
{
	button[type="submit"] {
		width: 100%;
	}

}
button[type="submit"]:hover {
	background-color: #0f1a3b;
} 
.uploaded-files {
	margin-top: 20px;
	display:flex;
}
.uploaded-file {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	margin-right: 30px;
}
.uploaded-file img {
	width: 150px;
	height: 170px;
	margin-right: 5px;
	border: 1px solid #ccc;
}
.delete-button {
	background-color: #0f1a3b;
	color: white;
	border: none;
	padding: 5px 8px;
	font-size: 14px;
	cursor: pointer;
}
.tags-container {
    display: flex;
    align-items: center;
	max-width: max-content;
	
}
@media screen and (max-width: 600px)
{
	.tags-container {
		max-width: 100%;
	}
}

#addTag {
    padding: 8px 16px;
    background-color: #14213d;
    color: #fca311;
    border: none;
    cursor: pointer;
	margin-bottom: 20px;
	margin-left: 5px;
}

.selected-tags {
    margin-bottom: 20px;
}

.selected-tags div {
    background-color: #0f1a3b;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
	font-size:14px;
}

.selected-tags div button {
    background-color: #0f1a3b;
    color: #fca311;
    border: none;
    padding: 3px 0px 3px 3px;
	margin-left: 5px;
    font-size: 15px;
    cursor: pointer;
}

.budget-container{
    display: flex;
    align-items: center;
	max-width: 35%;
    justify-content: space-between;
}
.budget-container input[type="text"]{
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	resize: none;
}
#CurrencyInput{
    max-width: 30%;
    padding: 10px;
	margin-bottom: 20px;
    margin-right: 20px;
	border: 1px solid #ccc;
	resize: none;
}
@media screen and (max-width: 1000px)
{
    .budget-container{
        max-width: 50%;
    }
}
@media screen and (max-width: 600px)
{
    .budget-container{
        max-width: 100%;
    }
}