* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Inter;
}
a {
	text-decoration: none;
	color: white;
	cursor: pointer;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
    background-color: #14213d;
}

header .nav-left {
	display: flex;
	padding-left: 20px;
	.logo-pic{
		display:flex;
		.logo{
			width: 40px;
			height:40px;
			margin: 10px;
		}
	}
	
}
header .nav-right {
	display:flex;
	padding-right: 20px;
}
header .nav-left .nav-btn-left{
	display:flex;	
	align-items: center;
	padding:20px;
	font-weight: bold;
	border-right: 3px solid #fca311 ;
}

header .nav-right .nav-btn-right{
	display:flex;
    align-items: center;
    padding:10px;
    font-weight: bold;
	background-color: #e5e5e5;
	color: #14213d;
	margin-right: 10px;
}

@media (max-width: 100px) {
	/* header {
		padding: 20px 50px;
	} */
}

@media (max-width: 414px) {
	
	header .nav-left  {
		flex-direction: column;
		.nav-btn-left{
			border: transparent;
		}
	}
	header  {
		flex-direction: column;
		
	}
	
}
section {
	display: flex;
	flex-direction: column;
	float: left;
	padding: 110px 40px;
}

@media (max-width: 1000px) {
	section {
		padding: 100px 50px;
	}
}
@media (max-width: 600px) {
	section {
		padding: 125px 30px;
	}
}

.box {
	position: relative;
	color: #fff;
	text-align: left;
}
.box video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.box .btn-cr-acc-menu{
	width: 50%;
	display: flex;
	justify-content: space-between;
	.boxBtn {
		padding: 15px 15px;
		padding-right: 20px;
		background: #fca311;
		font-family: Inter;
		font-weight: bold;
		transition: all .5s;
		a{
			color: #14213d;

		}
	}
	.boxBtn:hover {
		background: #fff;
		color: #000;
	}
}

.box h3 {
    font-family: Inter;
	margin-bottom: 40px;
	font-size: 25px;
	width: 50%;
}
.info {
	background-color:#fca311; /* Adding yellow background color */
	padding: 20px 40px; /* Adding padding for better spacing */
	color: white;
	text-align: justify;
	h2{
		padding-bottom: 20px; 
	}
	p{
		padding-bottom: 20px;
	}
}