section {
	display: flex;
	flex-direction: row;
	padding: 80px 40px 30px 40px;
}

@media (max-width: 1000px) {
	section {
		padding: 80px 50px 30px 50px;
	}
    .box .btn-see-projects {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: normal;
	}
	
	.box .btn-see-projects .boxBtn {
		margin-right: 20px;
		margin-top: 20px;
		padding: 10px 15px;
		background: #14213d;
		font-family: Inter;
		font-weight: bold;
	}
	
	.box .btn-see-projects .boxBtn a {
		color: #fff;
		font-size: 16px;
		font-style: bold;
	}
}
@media (max-width: 600px) {
	section {
		flex-direction: column;
		padding: 80px 15px 35px 15px;
	}
}
.profile-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #fca311;
}

.profile-info .profile-picture {
    display: flex;
    justify-content: center;
    width: 200px;
    padding-right: 20px;
}

.profile-info .profile-picture img {
    width: 100%;
}

.profile-info .info-text {
    display: flex;
    flex-direction: column;
}

.profile-info .info-text p {
    font-family: Inter;
    margin-bottom: 10px;
    font-size: 18px;
    color: #14213d;
}

.profile-info .info-text h2 {
    font-family: Inter;
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
}
@media (max-width: 700px) {
    .profile-info {
        flex-direction: column;
        align-items: center; 
        padding-bottom: 20px;
    }

    .profile-info .profile-picture {
        padding-right: 0; 
        margin-bottom: 20px; 
    }

    .profile-info .info-text {
        align-items: flex-start; 
        width: 100%; 
    }
	.profile-info .info-text p {
		font-size: 14px;
	}
	.profile-info .info-text h2 {
		font-size: 18px;
	}

}


.box{
	padding-top: 0px;
	padding-bottom: 50px;
	width: 100%;
	position: relative;
	background-color: #fca311;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.box .btn-wrapper{
    display:flex;
    flex-direction:row;
}

.box .btn-see-projects {
    display: flex;
    margin-right: 10px;
    /* flex-direction: row; */
    /* width: 50%; */
}
.box .btn-edit-profile{
    display:flex;
}
.box .btn-projects{
    display: flex;
    /* flex-direction: row; */
    /* width: 50%; */
}
.box .btn-see-projects .boxBtn {
    padding: 15px 40px;
    background: #14213d;
    font-family: Inter;
    font-weight: bold;
}
.box .btn-projects .boxBtn {
    padding: 15px 40px;
    background: #14213d;
    font-family: Inter;
    font-weight: bold;
}
.box .btn-edit-profile .boxBtn {
    padding: 15px 40px;
    background: #14213d;
    font-family: Inter;
    font-weight: bold;
}


.box .btn-see-projects .boxBtn a {
    color: #fff;
    font-size: 20px;
    font-style: bold;
}

@media (max-width: 723px){
	
	.box .btn-see-projects {
		/* display: flex;
		flex-direction: row;
		width: 50%; */
	}
	
	.box .btn-see-projects .boxBtn {
		/* padding: 10px 15px; */
	}
	
	.box .btn-see-projects .boxBtn a {
		/* font-size: 16px; */
	}
	
}

.box .btn-edit-profile {
    display: flex;
    flex-direction: row;
}

.box .btn-edit-profile .boxBtn {
    padding: 15px 15px;
    background: #14213d;
    font-family: Inter;
    font-weight: bold;
}

.box .btn-edit-profile .boxBtn a {
    color: #fff;
    font-size: 20px;
    font-style: bold;
}
@media (max-width: 600px){
	
	.box .btn-edit-profile .boxBtn {
		padding: 10px 15px;
	}
	
	.box .btn-edit-profile .boxBtn a {
		font-size: 16px;
	}
	
}
@media (max-width: 400px){
	.box{
		flex-direction: column;
		align-items: center;
	}
	.box .btn-see-projects {
		width: 100%;
		align-items: center;
		flex-direction: column;
		margin-bottom: 20px;
	}
}

@media (max-width: 455px){
	.box{
		align-content: center;
		display: flex;
		flex-direction: column;
	}
}

.box .btn-see-projects {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.box .btn-see-projects .boxBtn {
    padding: 15px 15px;
	margin-right: 20px;
    background: #14213d;
    font-family: Inter;
    font-weight: bold;
}

.box .btn-see-projects .boxBtn a {
    color: #fff;
    font-size: 20px;
    font-style: bold;
}
@media (max-width: 1000px){

	.box .btn-see-projects {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: normal;
	}
	
	.box .btn-see-projects .boxBtn {
		margin-right: 20px;
		margin-top: 20px;
		padding: 10px 15px;
		background: #14213d;
		font-family: Inter;
		font-weight: bold;
	}
	
	.box .btn-see-projects .boxBtn a {
		color: #fff;
		font-size: 16px;
		font-style: bold;
	}
}
@media (max-width: 455px){
	.box .btn-see-projects {
		align-items: center;
		flex-direction: column;
	}
	.box .btn-see-projects .boxBtn {
        margin-right: 0px;
	}
}

.box .btn-edit-profile {
    display: flex;
    flex-direction: row;
}

.box .btn-edit-profile .boxBtn {
    padding: 15px 15px;
    background: #14213d;
    font-family: Inter;
    font-weight: bold;
}

.box .btn-edit-profile .boxBtn a {
    color: #fff;
    font-size: 20px;
    font-style: bold;
}
@media (max-width: 1000px){
	.box .btn-edit-profile {
		display: flex;
		flex-direction: row;
		margin-top: 20px;
	}
	
	.box .btn-edit-profile .boxBtn {
		padding: 10px 15px;
		background: #14213d;
		font-family: Inter;
		font-weight: bold;
	}
	
	.box .btn-edit-profile .boxBtn a {
		color: #fff;
		font-size: 16px;
		font-style: bold;
	}
}
@media (max-width: 455px){
    .box{
        width: 100%;
    }
    .box .btn-edit-profile {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .box .btn-edit-profile .boxBtn{
        width: 100%;
        text-align:center;
    }
    .box .btn-see-projects {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .box .btn-see-projects .boxBtn{
        width: 100%;
        text-align:center;
    }
}
.review {
    padding-top: 30px;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.review h2 {
    padding-bottom: 20px;
    font-family: Inter;
    font-size: 25px;
    color: #14213d;
}

.review h3 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: Inter;
    font-size: 16px;
    color: #fca311;
}

.review p {
    padding-bottom: 5px;
    color: #14213d;
}
