body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.project-details {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    margin-top:65px;
}

.project-details h1 {
    margin: 0 0 20px;
    font-size: 24px;
}

.project-info {
    margin-bottom: 20px;
}

.project-info p {
    margin: 10px 0;
}

#apply-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#apply-button:hover {
    background-color: #0056b3;
}

#application-form {
    margin-top: 20px;
}

#application-form h2 {
    margin-bottom: 10px;
}

#application-form form {
    display: flex;
    flex-direction: column;
}

#application-form textarea,
#application-form input[type="number"] {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    resize: vertical;
}

#application-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#application-form button[type="submit"]:hover {
    background-color: #218838;
}