.project-container {
    padding-top: 80px;
    padding-left: 20px;
    padding-right:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    /* width: calc(30% - 20px);  */
    position: relative;
    cursor: pointer;
    margin-top:20px;
    margin-bottom: 20px;
    margin-right:20px;
    margin-left:20px;
}

.project-image {
    width: 100%;
    height: 250px;
}
.project-link{
    display:flex;
    justify-content:center;
    align-items:center;
}
.project-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #14213d;
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0; 
    transition: opacity 0s ease;
}

.project:hover .project-title {
    opacity: 1; 
}

.add-project {
    width: calc(30% - 20px); 
    height: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right:20px;
    margin-left:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #fca311;
    text-decoration: none;
    color: #14213d;
}

.add-symbol {
    font-size: 36px;
}

.add-text {
    margin-left: 10px;
    font-weight: bold;
}
@media screen and (max-width: 700px){
    .project-container{
        padding-left: 0px;
        padding-right:0px;
    }
    .project {
        /* width: calc(40%); */
        margin-right:10px;
        margin-left:10px;
    } 
    .add-project {
        width: calc(40%); 
        height: 200px;
        margin-right:10px;
        margin-left:10px;
    }
    .project-image {
        width: 100%;
        height: 200px;
    }
}
@media screen and (max-width: 400px){
    .project {
        width: calc(100%);
        margin-right:30px;
        margin-left:30px;
    } 
    .project-image {
        /* height: 180px; */
    }
    .add-project {
        width: calc(100%); 
        height: 180px;
        /* margin-right:30px; */
        /* margin-left:30px; */
    }
}

