section {
	display: flex;
	flex-direction: column;
	float: left;
	padding: 110px 40px;
	padding-bottom: 20px;
	
}

.box {
	position: relative;
	color: #fff;
	text-align: left;
}
.box video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.box .btn-cr-acc-menu {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.box .btn-cr-acc-menu .boxBtn {
	padding: 15px 15px;
	padding-right: 20px;
	background: #fca311;
	font-family: Inter;
	font-weight: bold;
	transition: all .5s;
}

.box .btn-cr-acc-menu .boxBtn a {
	color: #14213d;
}

.box .btn-cr-acc-menu .boxBtn:hover {
	background: #fff;
	color: #000;
}

.box h3 {
    font-family: Inter;
	margin-bottom: 40px;
	font-size: 25px;
	width: 50%;
}

.info {
	background-color: #fca311;
	padding: 20px 40px;
	color: white;
	text-align: justify;
}

.info h2 {
	padding-bottom: 20px;
}

.info p {
	padding-bottom: 20px;
}
@media screen and (max-width: 600px) {
	section {
		padding: 125px 30px;
		padding-bottom: 20px;
	}
	.box h3{
		width: 100%;
	}
	.box .btn-cr-acc-menu{
		flex-direction: column;
		width: 100%;
	}
	.boxBtn{
		margin-bottom:20px;
	}


}